$fontSize: 16;
$fontFamily: sans-serif;
$fontColor: rgba(0,0,0,1);
$fontColorInverse: rgba(255,255,255,1);
$fontColorBlue: rgba(28, 115, 190, 1);
$backgroundColor: rgba(255,255,255,1);
$backgroundColorInverse: rgba(0,0,0,1); 

$zIndexBot: 0;
$zIndexMid: 50;
$zIndexTop: 100;
$fastTransition: 200ms;
$slowTransition: 700ms;
$transitionStyleB: cubic-bezier(0,0,0,1);

$dropdownMenuWidth: 16;
$dropdownArrowSize: 17px;
$dropdownBorderColor: grey;
$arrowColor: rgba(0,0,0,1);
$arrowOffsetColor: rgba(255,255,255,1);
$prefixGraphicWidth: 7;
$prefixGraphicColor: rgba(61,115,191,1);
$borderRadius: 4;

html {
  box-sizing: border-box;
}

// *, *:before, *:after {
//   box-sizing: inherit;
// }

body {
  margin: 10px;
  font-family: $fontFamily;
  // height: 100vh;
  // width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



//do not include .sample elements with final build they are to demonstrait functionality only
.sample-container {
  width: 1000px;
  padding-top: 100px;
}
.sample-item {
  display: inline-block;
  margin-right: 60px;
}

.info-panel {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  user-select: none;
  
  h2 {
    font-weight: 100;
    margin: 0;
  }

  &.wrapper {
    display: inline-block;
    position: relative;
    color: $fontColorBlue;
    background: rgba(255,255,255,0.9);
    padding: 20px 0 20px 40px;
    transition: padding-bottom $slowTransition linear;
    cursor: pointer;

    &:before {
      content: attr(data-number);
      position: absolute;
      color: gray;
      top: 2px;
      left: 41px;
      font-size: 12px;
    }
  }
  
  &.heading {
    position: relative;
  }
  &.icon {
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid $fontColorBlue;
    border-radius: 50%;
    left: -40px;
    top: 1px;
    &:before {
      content: "";
      margin: 4px auto;
      position: relative;
      display: block;
      width: 2px;
      height: 10px;
      background: $fontColorBlue;
      transition: transform $fastTransition linear;
    }
    &.rotate {
      &:before {
        transform: rotate(90deg);
      }
    }
    &:after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      bottom: 8px;
      left: 4px;
      background: $fontColorBlue;
    }
  }
  &.dropdown {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    padding-left: 10px;
    transition: max-height $fastTransition linear, opacity $fastTransition linear;
    &.open {
      transition: max-height $fastTransition linear, opacity $fastTransition linear;
      opacity: 1;
      max-height: 100px;
    }
  }
}