#CV{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,184,157,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,184,157,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,184,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6b89d",GradientType=1);  
}

.CVHeader{
    font-size: 60px;
    text-align: center;
    height: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
}

#left{
    float: right;
    margin-left: auto;
    width: 40%;
}

#right{
    float: right;
    width:50%;
    margin-right: auto;
    font-size: 1.4vw;
    color: black;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: justify;
    padding-right: 30px;
}

#table{
    margin-left: auto;
    margin-right: auto;
}

#red_dress{
    height: 700px;
    border-radius: 50px;
}

#red_dress_mobile{
    display: none;
}

@media screen and (max-width: 960px){
    #red_dress{
        display: none;
    }
    
    .CVHeader{
        font-size: 5vw;
    }

    #red_dress_mobile{
        display: block;
        height: 500px;
        border-radius: 50px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    #right{
        width:60%;
        font-size: 3vw;
    }
    #left{

        display: none;
        float: right;
        margin-left: auto;
        width: 40%;
    }
}
